<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-multifiletransfer" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MultiFileTransfers</name>
    <author>Faizal Sidek</author>
    <description>Cordova Plugin for transferring multiple files.</description>
    <keywords>cordova, multiple, uploader, transfer, upload</keywords>
    <license>MIT</license>
    <repo>https://github.com/rockraft7/MultiFileTransfersPlugin</repo>
    <issue>https://github.com/rockraft7/MultiFileTransfersPlugin/issues</issue>
    <engines>
        <engine name="cordova" version="&gt;=3.0.0"/>
    </engines>
    <js-module name="MultiFileTransfers" src="www/multifiletransfers.js">
        <clobbers target="MultiFileTransfers"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MultiFileTransfer">
                <param name="android-package" value="com.rockraft7.plugin.multifiletransfers.MultiFileTransfers"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <source-file src="src/android/MultiFileTransfers.java" target-dir="src/com/rockraft7/plugin/multifiletransfers"/>
    </platform>
</plugin>